In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('sales-data.csv')

In [35]:
#1

df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Total Sales'] = df['Quantity Ordered']*df['Price Each']
df1 = df.pivot_table(index='Month', values = 'Total Sales',aggfunc=np.sum)
print(df1.sort_values(by = 'Total Sales', ascending = False),'\n')
print(df1)
print('\n','Month: ', df1['Total Sales'].idxmax(), " Sales Amount: ", df1['Total Sales'].max())

       Total Sales
Month
12      4613443.34
10      3736726.88
4       3390670.24
11      3199603.20
5       3152606.75
3       2807100.38
7       2647775.76
6       2577802.26
8       2244467.88
2       2202022.42
9       2097560.13
1       1822256.73

       Total Sales
Month
1       1822256.73
2       2202022.42
3       2807100.38
4       3390670.24
5       3152606.75
6       2577802.26
7       2647775.76
8       2244467.88
9       2097560.13
10      3736726.88
11      3199603.20
12      4613443.34

 Month:  12  Sales Amount:  4613443.34

In [31]:
#2

df2 = df.groupby('City')['Quantity Ordered'].sum()
print('\n','City: ', df2.idxmax(), " Quantity Ordered: ", df2.max())

 City:  San Francisco  (CA)  Quantity Ordered:  50239